@import url('https://fonts.googleapis.com/css?family=Raleway:300 400 700 900');
*{
	 box-sizing: border-box;
   transition: all ease-in-out 250ms;
}

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}
.container{
  width: 95%;
  margin: 0 auto;
  max-width: 70rem;
}
.unstyled-list{
  margin:0;
  padding:0;
  list-style-type: none;

}

/*header
=================*/
header{
  left: 0;
  right: 0;
  margin: 0;
  position: absolute;
}
header img{
  width:15vw;
}
nav li{
  display: inline-block;
  margin:1em;
}
nav a{
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  color: #fff;
}
nav a:hover,
nav a:focus{
  color:#ddd;
}
.unstyled-list-1{
  margin:0;
  padding:0;
  list-style-type: none;
}
.logo{
  margin:.5em;
  width:10vw;
}

@media (min-width: 60rem) {
  .logo{
    float: left;
    width:5vw;
  }
  .unstyled-list{
    float: right;
    
  }
}

/*home-hero
================*/

.home-hero{
  background-image: url(https://images.pexels.com/photos/1227648/pexels-photo-1227648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  padding: 6em 0;
  color: #fff;
  background-position: center;
   
}


@media (min-width: 60rem) {
  .home-hero{
    height: 100vh;
    padding-top: 20vh;
  }
  
}




/*typogray
=================*/
h1{
  font-weight: 900;
  font-size: 1.7rem;
  margin-top: 0;
}

p{  
  margin-top: 0;
  line-height: 1.45;

}

.title{
  font-size:2.5em;
  margin-bottom: .5em;
  font-weight: 600;
  margin-top: 1em; 
}

.title span{
  font-weight: 100;
  display: block;
  margin-top: .7em;
  font-size: .8em;
}

.submit{
  margin-top: 1.5em;
}
#email{
  width: 15em;
  height:2em;
}

@media (min-width: 60rem) {
  .title{
    font-size:3.5em;  
  }

  .title span{
    font-size: .5em;
    font-weight: 100;
  } 

  .grid{
    display: flex;
  } 
  .features{
    padding-bottom: 3.5em;
  }
 
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 130px;
    padding: 2.5em;
  }
  #desc h1{
    margin-bottom: 0;
  }
  #desc p{
    margin-bottom: 0;
    font-size: 1.2em;
  }
  #desc{
   text-align: justify;
   align-self: flex-end;
  }
 
}
 /*video
 =====================*/
 #video{
   margin-top: 0;
   }

   #video1{
    outline: 2px solid #99ff00;
    outline-offset: -0.5em;
    padding: 1.5em;
   }
   
   .video-container h1{
    color: #99ff00;
    background: #232323;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    padding: 0 .145em;
    font-size: 1em;
  }

  .video-container{
    background-color: #232323;
  }

@media (min-width: 60rem) {
  #video1{
   width: 500px;
   height: 300px;
   padding: 1.5em;
   outline: 2px solid #99ff00;
   outline-offset: -0.5em;
   
  }
   .video-container h1{
    color: #99ff00;
    background: #232323;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    padding: 0 .145em;
    top:1em;
    font-size: 1.7em;
   }

  .video-container{
    background-color: #232323;
    margin: 0 8em;
    padding:2.5em;
    position: relative;
  }
 
 
}
 

/*Buttons
=====================*/
.button{
   border-width: .2em;
   border-style: solid;
   border-color: #99ff00 ;
   background: none;
   color: #99ff00 ;
   border-radius: .3em;
   font-size: 1em;
   padding: .5em;
   font-weight: 500;
}

.add{
  text-transform: uppercase;
}
.submit:hover,
.submit:focus{
  background: #99ff00 ;
  color: #232323;
}
.add:hover,
.add:focus{
  background: #99ff00 ;
  color: #232323;
}
@media (min-width: 60rem) {
  .submit{
    font-size: 1.2em;
  }
}

 /*features
 = = = = = = = = = =*/
 .features{
    margin: 2.5em;
  }

 .features img{
  width:20vw;
 }

/*features
 = = = = = = = = = =*/
#product img{
     width:10vw;
   }

#product{
  background-color:#232323;
  color:#fff;
  padding: 1.5em;
}

.teas{
    display: grid;
    grid-gap: 1.5rem;
    padding: 1.5em;
  }
  #h1-features{
    margin-top:  2.5em;
  }

@media (min-width: 500px) {
  .teas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    padding: 1.5em;
  }
}
@media (min-width:60rem){
 
  #product img{
     width:5vw;
   }

 .teas{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    padding: 1.5em;
  }

  #product{
   padding: 1.5em;
  }
}

/*footer
============*/
footer{
  background: #232323 ;
  color:#99ff00;
}
#footer span{
  padding: 1em;
  display: block;

 
}
.footer-list {
    padding-left: 0px;
    }
.footer-list li  {
     display: inline-block;
     margin: 1em;
    }

.footer-list a{
    text-decoration:none;
      color:#99ff00;
}